<h2>Add New Task</h2>

<%= form_for @task do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p class="task_actions">
    <%= image_submit_tag 'btn_create_task.png', :alt => 'Create Task', :class => 'task_create' %>
    of
    <%= link_to 'cancel', tasks_path %>
  </p>
<% end -%>
