<h2>Add New Task Group</h2>

<% form_for @task_group do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p class="task_actions">
    <%= image_submit_tag 'btn_create_task_group.png', :alt => 'Create Task Group', :class => 'task_group_create' %>
    or
    <%= link_to 'cancel', task_groups_path %>
  </p>
<% end -%>
