development:
  adapter: postgresql
  database: listode_development
  username:
  password:

test:
  adapter: postgresql
  database: listode_test
  username:
  password:

production:
  adapter: postgresql
  database: listode_production
  username:
  password:
