<h2>What is Listode?</h2>
<p class="text">Listode is a dead simple way to track recurring monthly activities. Bills, appointments, anything!</p>

<h2>Why?</h2>
<p class="text">I built Listode because I needed it. I have bills that I need to pay each month (rent, car payment, student loan, etc.). I never pay them at the same time each month, so occasionally I'd forget if I'd done it. Listode helps me remember what I've paid, how much, and when.</p>

<h2>How Much Does it Cost?</h2>
<p class="text">It's totally free! <%= link_to 'Create an account', new_user_path %> and go crazy.</p>
